<div class="student-list-buttons" *ngIf="!addStudentFormDisplayed">
  <div class="student-list-button icon add-user-icon" (click)="openAddStudentForm()"></div>
  <div class="student-list-button icon delete-user-icon" *ngIf="currentActiveStudentItemIndex !== null"></div>
  <div class="student-list-button icon change-user-icon" *ngIf="currentActiveStudentItemIndex !== null"></div>
  <div class="student-list-button icon forward-icon"></div>
</div>

<app-add-student-form *ngIf="addStudentFormDisplayed">
</app-add-student-form>

<nav class="nav-wrapper">
  <div class="student-list">
    <div class="student-item"
         *ngFor="let student of studentList; let index = index"
         [ngClass]="{'active' : index === currentActiveStudentItemIndex}"
         (click)="setStudentItemActive(index)">
      {{student.name}}
    </div>
  </div>
</nav>
