<div *ngIf="!isAddFormDisplayed && !isDeleteFormNeeded"
     class="nav-list-buttons">
  <div class="nav-list-button icon add-company-icon"
       (click)="openAddForm()"></div>
  <div *ngIf="currentActiveCompanyIndex !== null"
       class="nav-list-button icon delete-company-icon"
       (click)="openDeleteForm()"></div>
  <div *ngIf="currentActiveCompanyIndex !== null"
       class="nav-list-button icon edit-icon"
       (click)="openUpdateForm()" ></div>
  <div class="nav-list-button icon search-icon"
       (click)="toggleSearch()"></div>
  <input *ngIf="isSearchNeeded" type="text" (keyup)="searchCompanies($event)">
</div>

<app-add-company-form
  *ngIf="isAddFormDisplayed"
  [isUpdateForm]="isUpdateFormNeeded"
  [addFormGroup]="currentActiveCompanyItem">
</app-add-company-form>

<app-delete-company-form *ngIf="isDeleteFormNeeded">

</app-delete-company-form>

<nav class="nav-wrapper">
  <div class="list">
    <div class="item"
         *ngFor="let company of searchedCompanyList; let index = index"
         [ngClass]="{'active' : index === currentActiveCompanyIndex}"
         (click)="setCompanyItemActive(company.id)">
      {{company.name}}
    </div>
  </div>
</nav>
