* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body {
  display: flex;
  justify-content: center;
}

app-root {
  width: 90vw;
  padding-top: 20px;
}

.icon {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: #eaeaea;
  }

  &.add-user-icon {
    background-image: url("./assets/img/add-user.png");
  }

  &.delete-user-icon {
    background-image: url("./assets/img/delete-user.png");
  }

  &.change-user-icon {
    background-image: url("./assets/img/change-user.png");
  }

  &.forward-icon {
    background-image: url("./assets/img/forward.png");
  }

  &.search-icon {
    background-image: url("./assets/img/search.png");
  }

  &.edit-icon {
    background-image: url("./assets/img/editing.png");
  }

  &.add-company-icon {
    background-image: url("./assets/img/commission.png");
  }

  &.delete-company-icon {
    background-image: url("./assets/img/shut-down.png");
  }
}
